<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="AdminGroup" value="My-Wiki-Admin-Group" />
  </appSettings>
  <connectionStrings>
    <add name="Wiki" connectionString="Server=MYSQLSERVER; uid=wiki; pwd=wiki; Initial Catalog=wiki;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
    <anonymousIdentification enabled="false" /> <!-- Force people to authenticate -->
    <authentication mode="Windows" /> <!-- Use NTLM -->
  </system.web>
</configuration>
